[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dynamicSDM"]
	path = dynamicSDM
	url = https://github.com/r-a-dobson/dynamicsdm
